@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes scale {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fullWidth {
    100% { width: 100%; }
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.title-animation {
	position: relative;
	animation-name: title-show-case;
	animation-duration: 0.5s;
}

@keyframes title-show-case {
	0% {left: 50rem};
	100% {left: 0};
}

.desc-animation {
	position: relative;
	animation-name: desc-show-case;
	animation-duration: 0.5s;
}

@keyframes desc-show-case {
	0% {right: 50rem};
	100% {right: 0};
}

.products-animation {
	position: relative;
	animation-name: products-show-case;
	animation-duration: 0.5s;
}

@keyframes products-show-case {
	0% {opacity: 0; transform: scale(0.8)};
	100% {opacity: 1; transform: scale(1)};
}